.corpoimobiliaria{
    align-items: center;
    background-position: left;
    padding: 100px;
}

body {
    background-image: url(terreno.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}




