.corpoacidente {
    align-items: center;
    background-position: left;
    padding: 200px;
}

body {
    background-image: url(acidente.webp);
    background-repeat: no-repeat;
    background-size: 100%;
}