.corpocartesiano {
    align-items: center;
    background-position: left;
    padding: 200px;
}

body {
    background-image: url(plano-cartesiano.avif);
    background-repeat: no-repeat;
    background-size: 93%;
}