.corpopizza {
    align-items: center;
    background-position: left;
    padding: 250px;
}

body {
    background-image: url(pizza.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}